.marketplace-filters-flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #525669;
}
.vertical-filters-flex-containter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}