.game-container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
}

.game-flex-container{
    margin: 2vmin;
    display: grid;
    grid-template-rows: repeat(9, 9vmin);
    grid-template-columns: repeat(9, 9vmin);
}

.game-flex-container div{
    width: 9vmin;
    height: 9vmin;
    background-size: cover;
    position: relative;
}

.game-flex-container div img{
    width: 10vmin;
    position: absolute;
    bottom: 0;
    z-index: 999;
    /* object-fit: cover; */
}

.game-button{
    margin-top: 20px;
    background-image: url(../assets/home-play-button.png);
    height: 72px;
    font-size: 18px;
    font-family: 'Press Start 2P', cursive;
    color: #FEFFB8;
    width: 141px;
    display: block;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    text-shadow:
    -2px -2px 0 #000,  
     2px -2px 0 #000,
    -2px  2px 0 #000,
     2px  2px 0 #000;
 }

 .game-arena{
     display: flex;
     flex-direction: row;
 }

.card-selected{
    border: gold 2px solid;
}

.plain{
    background-image: url('../assets/tile_plain.png');
    
}

.miss{
    background-image: url('../assets/tile_cracked.png');
}

.turn-indicator{
    height: 70px;
    width: 70px;
    transform: rotate(180deg);
}

.my-turn{
    transform: rotate(180deg);
}

.away-turn{
    transform: rotate(0deg);
}   


.game-title{
    padding-left: 30px;
    color: #D5A653;
	/* -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black; */
text-shadow:
-3px -3px 0 #000,  
 3px -3px 0 #000,
-3px  3px 0 #000,
 3px  3px 0 #000;
 }

.game-sub-title{
    padding-left: 30px;
    color: #D4F4FF;
	/* -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black; */
text-shadow:
-1px -1px 0 #000,  
 1px -1px 0 #000,
-1px  1px 0 #000,
 1px  1px 0 #000;
}
