.home-center-container{
    display: block;
    margin: auto;
    margin-top: 130px;
    width: 864px;
    height:486px;
    background-image: url(../assets/home-play-bg.png);
    
}
.home-heading{
    margin-left: 93px;
    margin-top: 37px;
    font-size: 45px;
    color: #D5A653;
    line-height: 45px;
	/* -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black; */
text-shadow:
-4px -4px 0 #000,  
 4px -4px 0 #000,
-4px  4px 0 #000,
 4px  4px 0 #000;
}

.home-subtitle{
    color: #D5A653;
    font-size: 24px;
    text-align: center;
    text-shadow:
-2px -2px 0 #000,  
 2px -2px 0 #000,
-2px  2px 0 #000,
 2px  2px 0 #000;
}
.home-flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    font-size: 36px;
    text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

.home-center-container button{
    background-image: url(../assets/home-play-button.png);
    height: 133px;
    font-size: 22px;
    font-family: 'Press Start 2P', cursive;
    color: #FEFFB8;
    width: 261px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-shadow:
    -2px -2px 0 #000,  
     2px -2px 0 #000,
    -2px  2px 0 #000,
     2px  2px 0 #000;
     
}

