.modal {
  display: block; /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  margin-left: 30%;
  top: 30%;
  height: 271px;

  width: 481px; /* Full height */
  overflow: false; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  border: 1px solid #888;
  height: 271px;
  width: 481px;
  /* Could be more or less, depending on screen size */
  background-image: url(../assets/battle-group.png);

}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.find-matchmaking-heading{
  margin-left: 110px;
  margin-top: 30px;
  font-size: 20px;

  color: #D5A653;
  line-height: 45px;
/* -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black; */
text-shadow:
-4px -4px 0 #000,  
4px -4px 0 #000,
-4px  4px 0 #000,
4px  4px 0 #000;
}

.find-matchmaking-subheading{
  margin-left: 40px;
  margin-top: 10px;
  margin-right: 30px;
  font-size: 14px;
  color: white;
}

.find-matchmaking-desription{
  margin-top: 45px;
  margin-left: 150px;
  color: white;
}


.modal-details-view-row{
  display: flex;
  justify-content: space-around;
  margin: 0px;
}
.modal-details-view-row-one{
  margin-top: 10px;
}
.modal-details-view-attribute{
  color: #FEFFB8;
  text-shadow:
  -2px -2px 0 #000,  
  2px -2px 0 #000,
  -2px  2px 0 #000,
  2px  2px 0 #000;
font-size: 12px;
}
.modal-details-view-value{
  color: white;
  font-size: 12px;
}

.modal-battle-button{
  height: 71px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 141px;
  background-size: cover;
  background-image: url(../assets/home-play-button.png);
  font-family: 'Press Start 2P', cursive;
  color: #FEFFB8;
  text-shadow:
  -2px -2px 0 #000,  
   2px -2px 0 #000,
  -2px  2px 0 #000,
   2px  2px 0 #000;
}
.modal-surrender-button{
  height: 71px;
  width: 141px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../assets/battle-shop-button.png);
  font-family: 'Press Start 2P', cursive;
  color: white;
  text-shadow:
  -2px -2px 0 #000,  
   2px -2px 0 #000,
  -2px  2px 0 #000,
   2px  2px 0 #000;
}

.modal-container{
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 999;
  background-color: rgba(0,0,0,0.4);
}